name: AndroidBuild

on:
  push:
    branches: [main]

  pull_request:
    branches: [main]

jobs:
  start:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the code
        uses: actions/checkout@v2

  debug-apk:
    name: Generate Release APK
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the code
        uses: actions/checkout@v2

      - name: Setup the JAVA JDK 15
        uses: actions/setup-java@v1
        with:
          java-version : '15'

      - name: Make gradlew executable
        run: chmod +x ./gradlew

      - name: Bulid Release APK
        run: ./gradlew assembleRelease

      - name: Upload APK
        uses: actions/upload-artifact@v2
        with:
          name: sample-app.apk
          path: app/build/outputs/apk/release/app-release-unsigned.apk
